* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font-family: 'Exo 2', sans-serif;
}
html, body{
	min-width: 600px;
	width: 100%;
	height: 100%;
	/*cursor: none;*/
}
#mainCanvas {
	float:left;
	width: 100%;
	box-sizing: border-box;
	bottom: 0;
	top: 50px;
	position: absolute;
}
#header{
	box-sizing: border-box;
	height: 50px;
	line-height: 50px;
	width: 100%;
	color: #FFF;
	background-color: #333;
	text-align: center;
	overflow: visible;
	position: relative;
}

#SiteTitle, #scTrackInfo, #searchBarContainer{
	height: 100%;
	display: inline-block;
	*display: inline;
	vertical-align: top;
}
#searchBarContainer{
	text-align: left;
	width: 30%;
	min-width: 235px;
	float: left;
}
#SiteTitle{
	font-size: 1.2em;
	width: auto;
}
#noTrack{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 200px;
	line-height: 200px;
	text-align: center;
}
#textInput{
	width: 175px;
	height: 30px;
	font-size: 0.8em;
	background: #FFFFFF;
	padding-left: 10px;
	margin-left:10px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#playButton{
	height: 30px;
	margin-left: 10px;
	color: #FF5A08;
}
#playButton:hover{
	color: #F58147;
}
button#playButton{
	background: none;
	border: none;
}

#soundcloudContainer{
	width: 30%;
	float: right;
	height: 166px;
	position: relative;
	z-index: 1000;
}