<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- CSS -->
    <link href="/css/index.css" rel="stylesheet">
  </head>
  <body>
  		<div id="header"><h3>AuDU</h3></div>
    </div>
    <div id="trackContainer">
		<!-- Tracks loaded here via ajax -->
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/js/index.js"></script>
  </body>
</html>